/* Stylesheet */
body{
    background-color: rgba(187, 183, 183, 0.219);
}
.p-3{
    background-color: rgba(77, 12, 77, 0.61);
}

h1{
    font-family: 'Zilla Slab', serif;
}

#customer-review{
    font-family: 'Handlee', cursive;
    float: left;
    width: 500px;
    padding-left: 25px;
}

hr{
    width: 500px;
    float: left;
}