/* Stylesheet */
body{
    background-color: rgba(241, 184, 146, 0.219);
}


nav{
    background-color: rgb(136, 30, 56);
}

#login-btn{
    background-color: rgba(59, 16, 26, 0.233);
}

#sign-up-link{
    color: rgb(71, 22, 25);
}

h1{
    font-family: 'Zilla Slab', serif;
}

a{
    color: white;
}

hr{
    width: 20px;
}

#hello-name{
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}


#customer-review{
    font-family: 'Handlee', cursive;
    float: left;
    width: 500px;
    padding-left: 25px;
}

hr{
    width: 500px;
    float: left;
}

#booking-info{
    font-family: 'Zilla Slab', serif;
    width: 500px;
    padding-left: 50px;
    font-size: 19px;
}

#booking-form{
    background-color: #50343933;
    width: 600px;
    float: left;
}

#booked{
    border: 2px solid  #2e242633;
    background-color: #856b6f33;
    width: 200px;
    text-align: center;
}

#delete-booking{
    background-color: rgb(215, 218, 221);
}

.admin-user-info{
    border: 2px solid grey;
    width: 200px;
}

.admin-user-border{
    padding: 10px;

}